.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 92px 48px;
    gap: 16px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 950px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
        margin: 88px 24px;
    }
}

@media screen and (max-width: 600px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px 12px;
        margin: 64px 16px;
    }
}