.header {
    display: flex;
    justify-content: space-between;
    padding: 28px 48px 0px;
}

@media screen and (max-width: 950px) {
    .header {
        padding: 28px 24px 0px;
    }
}

@media screen and (max-width: 426px) {
    .header {
        padding: 16px 16px 0px;
    }
}