.cover {
    margin: 0 auto 92px;
    max-height: 740px;
    background-image: url(../../images/cover-trains.jpg);
    max-width: 1184px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
}

@media screen and (max-width: 950px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 600px) {
    .cover {
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1281px) {
   .cover {
       min-height: 740px;
   }
}