.place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

@media screen and (max-width: 540px) {
    .place__website {
        margin-left: 16px;
    }
}